@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  color: #e2e8f0;
  background-color: #1a202c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glow {
  box-shadow: 0 0 15px rgba(1, 84, 250, 0.5);
}

.perspective-1000 {
  perspective: 1000px;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: spin-slow 20s linear infinite;
}

